body{
    background-color: aquamarine;
}

h1{
    text-align: center;
    font-style: oblique ;
}

.navbar ul{
    list-style-type: none;
    background-color: rgb(207, 156, 156);
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    overflow: hidden;
 }

 .navbar a{
color: black;
text-decoration: none;
padding: 15px;
display: block;
text-align: center;

 }

 .navbar a:hover{
    background-color: rgb(242, 221, 221);

 }

.navbar li{
    float: left;
}
.Register{
    width: 250px;
    height: 400px;
    margin: auto;
    background-color: rgb(233, 155, 155);
    border-radius: 3px;
}

form{
    width: 200px;
    margin-left: 20px ;
}
form label{
    display: flex;
    margin-top: 5px;
    font-size: 18px;
}

form input{
    width: 100%;
    padding: 5px;
}

input button{
    width: 300px;
    height: 30px;
    margin-top: 50px;
    border: none;
    background-color: aquamarine;
    font-size: 18px;
}

.Login{
    width: 250px;
    height: 400px;
    margin: auto;
    background-color: rgb(233, 155, 155);
    border-radius: 3px;
}

.registration{
    justify-content: center;
    display: flex;
}
.registration_link{
    margin-top: 15px;
}
.button{
    margin-top: 15%;
}